.tarjeta {
  display: flex;

  flex-direction: column;
  gap: 0.4em;
  width: 275px;
  height: 100%;

  color: $color-terciario;
}

.tarjeta-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px $color-primario;
}

.tarjeta-nombre {
  font-weight: bold;
padding: 0 5px;
}

.tarjeta-descripcion {
  color: $color-primario;
  padding: 0 5px;
}

.tarjeta-elo {
  color: $color-primario;
  text-align: left;
  align-self: end;
  width: 100px;
}

.tarjeta-elo-titulo {
  font-style: italic;
  margin-right: 5px;
  color: $color-terciario;
}