%cabecera {
  grid-area: h;

  display: grid;

  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: auto;
  grid-column-gap: 3em;
  grid-row-gap: 0.5em;

  align-items: center;
  justify-items: center;
  padding: 1em;

  @media (min-width: $mqMinWidth) {
    grid-auto-flow: column;
    justify-items:start;
  }
}

.cabecera {
  @extend %cabecera;

}

.cabecera-portada {
  @extend %cabecera;

  color: $color-secundario;
}

.enlace-cabecera
{
  @include enlace;
}

.enlace-cabecera-portada
{
  @include enlace($color: $color-secundario);
}

.enlace-cabecera,
.enlace-cabecera-portada {
  font-weight: bold;
}