@import "card";

.central-miembros {
  @extend %central;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-miembros {
  text-align: center;
}

.listado-miembros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}