.central-miembros {
  @extend %central;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.titulo-miembros {
  @include titulo;

  text-align: center;
}

.listado-miembros {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
}

.tarjeta-elo-titulo {
  margin-right: 5px;
  font-style: italic;
  color: $color-terciario;
}

.tarjeta-bs {
  width: 275px;

}

.contenedor-contacto {
  max-width: 40em;
  padding:1.5em;
  margin: 0 auto;
}

.titulo-contacto {
  @include titulo($size: 1.2em);
}

.enlace-contacto {
  @include enlace($color: $color-terciario);

  font-style: italic;
}