@import "card";

.central-miembros {
  @extend %central;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.titulo-miembros {
  @extend %titulo;

  text-align: center;
}

.listado-miembros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;

}