.contenedor-articulo {
  display: flex;
  flex-direction: column;
  padding: 1em;

}

.referencia-articulo {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1.2;
}

.figura-centrada {
  align-self: center;
}

.enlace-articulo {
  @include enlace($color-terciario);
}