<main class="central">
    <article class="contenedor-articulo">
        <h4>Juegos de Ajedrez para niños:</h4>
        <h2>Aprende cómo mueven las piezas</h2>
        <div class="referencia-articulo">
            Artículo original de Eduardo Urbano -
            <a
                href="https://www.ysifueraunapartida.com/juegos-de-ajedrez/"
                class="enlace-articulo"
                >www.ysifueraunapartida.com</a
            >
        </div>
        <figure class="figure figura-centrada">
            <img
                src="/src/assets/images/articles/foto-noticia.jpg"
                alt="Foto de niños jugando al ajedrez"
                class="figure-img img-fluid"
            />
        </figure>
        <p>
            Cuando quieres enseñar a los más pequeños a jugar al Ajedrez es muy
            útil conocer algunos divertidos
            <strong>juegos de Ajedrez para niños</strong>.
        </p>
        <p>
            Jugando los niñ@s pueden aprender el movimiento de las piezas y
            empiezan a asimilar la lógica del Ajedrez. Para
            <a
                href="https://www.ysifueraunapartida.com/ensenar-ajedrez-a-ninos/"
                class="enlace-articulo"
            >
                enseñar ajedrez a los niños</a
            >
            es fundamental que se diviertan y motivarles. (si pinchas en el
            enlace puedes ver un extenso artículo para enseñar ajedrez a niños).
            Lo primero que vas a necesitar es un
            <a
                href="https://www.ysifueraunapartida.com/comprar-tablero-de-ajedrez/"
                class="enlace-articulo"
                >tablero de Ajedrez con piezas a juego para niños.</a
            >
            (Pincha en el enlace para ver cómo puedes escoger el más adecuado).
        </p>
        <p>
            Estos ejercicios de Ajedrez para niños son ideales para las primeras
            etapas del aprendizaje en lugar de jugar partidas completas y sirven
            para:
        </p>
        <ul>
            <li>Motivar a los niños de todos los niveles</li>
            <li>Afianzar los conocimientos de las aburridas clases teóricas</li>
            <li>Divertir y entretener mientras aprenden</li>
        </ul>
        <p>
            Antes de jugar su primera partida los jóvenes aprendices de jugador
            deben poner a prueba sus conocimientos con alguno de estos juegos de
            Ajedrez. Se trata de hacer el ajedrez divertido para niños.
        </p>
        <h3>La guerra de los peones</h3>
        <p>
            Este es uno de los más conocidos juegos para enseñar Ajedrez a niños
            que se viene utilizando en las aulas de enseñanza del ajedrez. Los
            niños lo pueden aprender a partir de conocer tan solo el movimiento
            de los peones.
        </p>
        <p>
            La posición inicial es la de los peones de cada bando en su posición
            inicial en el tablero sin que participe ninguna otra pieza. El juego
            consiste en, por turnos, como si fuera una partida, mover los peones
            con el fin de conseguir alcanzar la última fila. Los peones mueven
            con las reglas del ajedrez y comen igual. Si no conoces las reglas
            las puedes aprender en el artículo:
            <a
                href="https://www.ysifueraunapartida.com/ajedrez-para-principiantes-1/"
                class="enlace-articulo"
                >Movimiento de los peones</a
            >.
        </p>
        <figure class="figure figura-centrada">
            <img
                src="/src/assets/images/articles/captura-guerra-de-peones.png"
                alt="Juego Guerra de peones"
                class="figure-img rounded"
            />
            <figcaption class="figure-caption text-end">
                Guerra de peones
            </figcaption>
        </figure>
        <p>
            Puedes empezar por guerras de 4 peones y poco a poco aumentar hasta
            los 8. Es un ejercicio estupendo para que los jóvenes jugadores
            empiecen a comprender cómo se comportan las cadenas de peones y cómo
            conseguir un peón pasado. Además con la práctica de este juego
            tienen que empezar a calcular uno o dos movimientos por delante.
        </p>
        <h3>El caballo glotón</h3>
        <p>
            Este es un juego de ajedrez para niños que busca afianzar el
            conocimiento del movimiento del caballo de ajedrez, que si no lo
            conoces lo puedes ver en
            <a
                href="https://www.ysifueraunapartida.com/ajedrez-para-principiantes-3/"
                class="enlace-articulo"
                >Movimiento del caballo</a
            >.
        </p>
        <p>
            Se empieza por colocar un caballo en algún punto del tablero y una
            serie de peones del bando contrario de manera que el caballo pueda
            comerlos en movimientos consecutivos. (te puedes inventar tantos
            recorridos como quieras). Consiste en saltar de peón en peón hasta
            que el caballo haya capturado a todos los peones. No es tan sencillo
            pues sólo suele haber un orden correcto para conseguir comer todos
            los peones.
        </p>
        <figure class="figure figura-centrada">
            <img
                src="/src/assets/images/articles/captura-caballo-gloton.png"
                alt="Juego del Caballo Glotón"
                class="figure-img rounded"
            />
            <figcaption class="figure-caption text-end">
                El Caballo Glotón
            </figcaption>
        </figure>
        <p>
            Como se ve el caballo tiene que recorrer el camino
            <b>b3 – c5 – d7 – f8 – e6 – f4 – d3 – f2</b> que es el único orden
            correcto para poder comer todos los peones.
        </p>
        <p>
            Puedes comprobar que por ejemplo el camino por
            <b>b3 – c5 – d3</b> deja un peón sin comer.
        </p>
        <p>
            A los niños este juego les encanta pues les supone un desafío muy
            exigente. Se ven obligados a ver que pasa en los siguientes saltos
            antes de dar el primero.
        </p>
        <h3>Captura a la reina en x movimientos</h3>
        <p>
            En este juego se trata de asimilar el movimiento de otras piezas
            como alfiles, damas o torres. Uno de los movimientos que mas les
            cuesta comprender a los niños es el de las diagonales.
        </p>
        <p>
            En este divertido juego de Ajedrez ponemos una dama negra y otra
            pieza blanca, por ejemplo un alfil. Se sitúan piezas propias de
            manera que entorpecen el movimiento del alfil y se da un número
            mínimo de movimientos para realizar la captura de la dama.
        </p>
        <figure class="figure figura-centrada">
            <img
                src="/src/assets/images/articles/captura-a-la-dama.png"
                alt="Juego Captura a la dama en 3"
                class="figure-img rounded"
            />
            <figcaption class="figure-caption text-end">
                Captura a la dama en 3 movimientos de alfil
            </figcaption>
        </figure>
        <p>
            La solución correcta de camino mínimo es
            <b>h4 – f6 – captura en b2</b>,: 3 movimientos.
        </p>
        <p>
            Este juego se complica si lo planteamos con una dama pues
            posiblemente en la solución correcta tengamos que combinar
            movimientos en diagonal, horizontales y verticales.
        </p>
        <h3>Adivina dónde está la pieza fantasma</h3>
        <p>
            En este juego se plantea en el tablero una posición de mate en la
            que quitamos una pieza. El juego consiste en adivinar qué pieza
            falta y dónde está para poder dar mate al rey negro. Suele haber
            varias soluciones así que la pregunta se puede concretar más.
        </p>
        <p>Os pongo el siguiente ejemplo:</p>
        <p><b>¿Dónde ponemos un alfil blanco para que sea mate?</b></p>
        <figure class="figure figura-centrada">
            <img
                src="/src/assets/images/articles/captura-pieza-fantasma.png"
                alt="Juego Captura la pieza fantasma"
                class="figure-img rounded"
            />
            <figcaption class="figure-caption text-end">
                ¿Dónde está la pieza fantasma?
            </figcaption>
        </figure>
        <p>La respuesta a esta pregunta es única: <strong>c6!</strong></p>
        <p>
            No vale por ejemplo a4 pues el peón negro de b6 puede impedir el
            mate.
        </p>
        <p>
            Si la pregunta es más amplia y no concretamos la pieza hay muchas
            soluciones y de esta forma puede participar toda la clase dando las
            contestaciones correctas. En este caso una dama da mate en c6 y f7
            por ejemplo. Divertido, ¿no?
        </p>
        <h3>Partidas equilibradas de material con menos piezas</h3>
        <p>
            Este juego está pensado para cuando los niños ya saben el movimiento
            completo de las piezas y la valoración de las mismas.
        </p>
        <p>
            El juego consiste en plantear una partida completa pero con menos
            piezas. Se intenta que en un bando haya peones y en otro no. Un buen
            comienzo sería Rey y caballo contra rey y tres peones. Obviamente
            Rey y caballo no pueden ganar la partida pero;
        </p>
        <p>
            <b
                >¿Podrán evitar las blancas que gane el otro bando coronando un
                peón?</b
            >
        </p>
        <figure class="figure figura-centrada">
            <img
                src="/src/assets/images/articles/captura-partida-pocas-piezas.png"
                alt="Juego Partidas con menos piezas"
                class="figure-img rounded"
            />
            <figcaption class="figure-caption text-end">
                ¿Conseguirán ganar las negras?
            </figcaption>
        </figure>
        <p>
            Este juego es genial para para que vean que aunque en teoría 3
            peones valen como un caballo en este caso son mucho más útiles pues
            pueden ganar la partida. Este juego está inspirado por la página de
            <a href="http://ajedrezescolar.es/">Ajedrez escolar</a> que además
            tiene otros muchos ejercicios de ajedrez para niños.
        </p>
        <p>
            Se pueden plantear combinaciones más complejas pero creo que es
            importante que la valoración de las piezas esté equilibrada. Por
            ejemplo se puede plantear Rey, torre y 2 peones contra Rey, alfil y
            4 peones. Podemos ver que el resultado de la lucha puede variar si
            los peones están juntos o no. Las posibilidades son casi infinitas.
            De esta manera se van relacionando con la teoría del ajedrez.
        </p>
        <h3>En resumen…</h3>
        <p>
            La mejor manera de enseñar el ajedrez a los niños es empezando por
            divertidos desafíos que les ayuden a recordar el movimiento y la
            fuerza de las piezas. Para los niños es importante
            <strong>practicar desde el primer minuto</strong> lo aprendido y
            enseguida echarle mano a las piezas.
        </p>
        <p>
            Hacer el <strong>ajedrez divertido para niños</strong> es nuestra
            primera misión si queremos que quieran conocerlo más a fondo. Con
            estos juegos de Ajedrez se puede empezar
            <strong>la primera clase</strong>.
        </p>
        <div class="referencia-articulo my-4 text-end">
            Puedes leer éste y más artículos de Eduardo Urbano en
            <a
                href="https://www.ysifueraunapartida.com/"
                class="enlace-articulo"
                >www.ysifueraunapartida.com</a
            >
        </div>
    </article>
</main>
