<main class="central-miembros">
    <h2 class="titulo-miembros">Miembros del club</h2>
    <div class="listado-miembros">
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Juan Gómez</span>
            <p class="tarjeta-descripcion">
                Descubrió el ajedrez cuando se metió en la nariz un peón del
                tablero de su padre. Desde entonces se convirtió en un
                apasionado del juego. No es un gran jugador, pero ¡le echa
                narices!.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 2</span>
            <p class="tarjeta-descripcion">Descripción del miembro 2</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 3</span>
            <p class="tarjeta-descripcion">Descripción del miembro 3</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 4</span>
            <p class="tarjeta-descripcion">Descripción del miembro 4</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 5</span>
            <p class="tarjeta-descripcion">Descripción del miembro 5</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 6</span>
            <p class="tarjeta-descripcion">Descripción del miembro 6</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 7</span>
            <p class="tarjeta-descripcion">Descripción del miembro 7</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Miembro 8</span>
            <p class="tarjeta-descripcion">Descripción del miembro 8</p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
    </div>
    <div class="contacto">
        <h3>¿Quieres formar parte del club? ¡Contacta con nosotros!</h3>
        <p class="tarjeta-descripcion">
            Mandanos un correo a xxx@xxxxxxx.com, llámanos o escríbenos un
            WhatsApp al +34 987654321 y te informaremos de cómo puedes formar
            parte del club.
        </p>
    </div>
</main>
