<main class="central-miembros">
    <h2 class="titulo-miembros">Miembros del club</h2>
    <div class="listado-miembros">
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Foto de Juan Gómez"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Juan Gómez</span>
            <p class="tarjeta-descripcion">
                Descubrió el ajedrez cuando se metió en la nariz un peón del
                tablero de su padre. Desde entonces se convirtió en un
                apasionado del juego. No es un gran jugador, pero ¡le echa
                narices!.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span> 1523
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-02.png"
                alt="Foto de Cordell Norris"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Cordell Norris</span>
            <p class="tarjeta-descripcion">
                Su estrategia favorita es sencilla: Basta con mirar el tablero
                para que las piezas de su oponente comiencen a temblar, hasta
                que se rinden todas. Y eso que en el fondo es un tio muy afable.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>
                <span class="fa-solid fa-infinity"></span>
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-03.png"
                alt="Foto de Carlos Ferraz"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Carlos Ferraz</span>
            <p class="tarjeta-descripcion">
                Capaz de ganar a cualquiera, pero con tiempo: ¡es la parsimonia
                en estado puro!
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO: 1816</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-04.png"
                alt="Foto de Alex Pérez"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Alex Pérez</span>
            <p class="tarjeta-descripcion">
                Hace poco que ha cambiado el poker por el ajedrez, y, aunque no
                se le da mal, aun insiste en intentar leer la jugada en los
                gestos de su oponente.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span> 1260
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-05.png"
                alt="Foto de Sonia Bruguera"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Sonia Bruguera</span>
            <p class="tarjeta-descripcion">
                Si la ves sonreir, tiembla. Si la ves seria, también. Sea cual
                sea la situación del tablero, ella seguro que ya la había
                valorado.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span> 1745
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-06.png"
                alt="Foto de Luis Pedroche"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Luis Pedroche "Luisín"</span>
            <p class="tarjeta-descripcion">
                Este joven padawan disfruta como nadie jugando ¡y no se le da
                nada mal! Si tienes la oportunidad de jugar con él, no sabes qué
                te enamorará más, si su forma de jugar o él mismo.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span>-
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-07.png"
                alt="Foto de José Luis Pedroche"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">José Luis Pedroche</span>
            <p class="tarjeta-descripcion">
                Padre de Luisín, no esperaba que su hijo jugara ya mejor que él.
                Y aunque eso le enorguellece, se esfuerza en que no le gane con
                facilidad. Lleva perdidos 20 Kg.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span> 1634
            </div>
        </div>
        <div class="tarjeta">
            <img
                src="/src/assets/images/profiles/perfil-08.png"
                alt="Foto de Luis Pedroche Senior"
                class="tarjeta-imagen"
            />
            <span class="tarjeta-nombre">Luis Pedroche Sr. "el Yayo"</span>
            <p class="tarjeta-descripcion">
                Abuelo de Luisín y padre de José Luis, el Yayo es uno de los
                fundadores del club (cuando fue joven y melenudo). Aunque sigue
                en activo, se dedica más a ayudar a quienes quieren entrar en
                este mundillo.
            </p>
            <div class="tarjeta-elo">
                <span class="tarjeta-elo-titulo">ELO:</span> 2114
            </div>
        </div>
    </div>
    <div class="contenedor-contacto">
        <h3 class="titulo-contacto">
            ¿Quieres formar parte del club? ¡Contacta con nosotros!
        </h3>
        <p class="parrafo-contacto">
            Puedes hacerlo a través de los siguientes métodos y te informaremos
            de todo lo referente al club.:
        </p>

        <ul>
            <li>
                Mandanos un correo a
                <span class="enlace-contacto">info@clubcheckmate.net</span>
            </li>
            <li>
                Llámanos o escríbenos un WhatsApp al
                <span class="enlace-contacto">+34 606 060 606</span>
            </li>
            <li>
                A través de nuestro
                <a href="miscelanea.html#contacto" class="enlace-contacto"
                    >formulario de contacto</a
                >
            </li>
        </ul>
    </div>
</main>
