<main class="central">
    <h2>Miembros del club</h2>
    <div class="container-members">
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 1</span>
            <p>Descripción del miembro 1</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 2</span>
            <p>Descripción del miembro 2</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 3</span>
            <p>Descripción del miembro 3</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 4</span>
            <p>Descripción del miembro 4</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 5</span>
            <p>Descripción del miembro 5</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 6</span>
            <p>Descripción del miembro 6</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 7</span>
            <p>Descripción del miembro 7</p>
            <span>ELO: xxxx</span>
        </div>
        <div class="card">
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Perfil 1"
            />
            <span>Miembro 8</span>
            <p>Descripción del miembro 8</p>
            <span>ELO: xxxx</span>
        </div>
    </div>
    <div class="contacto">
        <h3>¿Quieres formar parte del club? ¡Contacta con nosotros!</h3>
        <p>
            Mandanos un correo a xxx@xxxxxxx.com, llámanos o escríbenos un
            WhatsApp al +34 987654321 y te informaremos de cómo puedes formar
            parte del club.
        </p>
    </div>
</main>
