<main class="central-mix">
    <h3>Enlaces de interés</h3>
    <ul>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >Enlace xxxx
            </div>
            <a href="https://www.google.com" class="ms-5">xxxx.com</a>
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >Enlace xxxx
            </div>
            <a href="https://www.google.com" class="ms-5">xxxx.com</a>
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >Enlace xxxx
            </div>
            <a href="https://www.google.com" class="ms-5">xxxx.com</a>
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >Enlace xxxx
            </div>
            <a href="https://www.google.com" class="ms-5">xxxx.com</a>
        </li>
    </ul>

    <h3 id="contacto">Contacta con nosotros</h3>
    <p>¡Escríbenos e intetaremos resolver tus dudas lo antes posible!</p>

    <form name="contacto" class="mb-5" netlify>
        <div class="mb-3">
            <label for="inputNombre" class="form-label"
                >Dinos cómo debemos llamarte
            </label>
            <input
                type="text"
                class="form-control"
                id="inputNombre"
                placeholder="Nombre"
            />
        </div>
        <div class="mb-3">
            <label for="inputMail" class="form-label">Y tu e-Mail</label>
            <input
                type="mail"
                class="form-control"
                id="inputMail"
                aria-describedby="emailHelp"
                placeholder="Correo electrónico"
            />
            <div id="mailHelp" class="form-text">
                Solo usaremos tu correo para responderte a tu consulta
            </div>
        </div>
        <div class="mb-3">
            <label for="textareaComentario" class="form-label">Cuéntanos</label>
            <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
            ></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn">Enviar</button>
    </form>
</main>
