<main class="central-mix">
    <h3>Enlaces de interés</h3>
    <h6 class="mb-4">(¡Sobre todo si te interesa el ajedrez!)</h6>
    <ul>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >ysifueraunapartida.com - Blog, escuela, tienda online de
                ajedrez.
            </div>
            <a href="https://www.ysifueraunapartida.com/" class="ms-5"
                >www.ysifueraunapartida.com/</a
            >
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >Facebook del ilustrador Andrés Guadalupe "Wadalupe".
            </div>
            <a href="https://www.facebook.com/ajedrezconhumor" class="ms-5"
                >facebook.com/ajedrezconhumor</a
            >
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >Chess.com - Para jugar online con gente de tu nivel.
            </div>
            <a href="https://www.chess.com/es" class="ms-5">chess.com</a>
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >ChessKid - Para que los más peques aprendan a jugar.
            </div>
            <a href="https://www.chesskid.com/es/" class="ms-5">chesskid.com</a>
        </li>
        <li>
            <div>
                <span
                    class="fa-regular fa-chess-pawn me-2"
                    style="color: #8000ff"
                ></span
                >AprendeConRey - Una web donde los más peques podrán aprender y
                practicar.
            </div>
            <a href="https://aprendeconrey.com/" class="ms-5"
                >aprendeconrey.com</a
            >
        </li>
    </ul>

    <h3 id="contacto">Contacta con nosotros</h3>
    <p>¡Escríbenos e intetaremos resolver tus dudas lo antes posible!</p>

    <form name="contacto" class="mb-5" netlify>
        <div class="mb-3">
            <label for="inputNombre" class="form-label"
                >Dinos cómo debemos llamarte
            </label>
            <input
                type="text"
                class="form-control"
                id="inputNombre"
                placeholder="Nombre"
                name="nombre"
            />
        </div>
        <div class="mb-3">
            <label for="inputMail" class="form-label">Y tu e-Mail</label>
            <input
                type="mail"
                class="form-control"
                id="inputMail"
                aria-describedby="emailHelp"
                placeholder="Correo electrónico"
                name="email"
            />
            <div id="mailHelp" class="form-text">
                Solo usaremos tu correo para responderte a tu consulta
            </div>
        </div>
        <div class="mb-3">
            <label for="textareaComentario" class="form-label">Cuéntanos</label>
            <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                name="comentario"
            ></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn">Enviar</button>
    </form>
</main>
