
/* Grid */
%body {
  display: grid;
  grid-template-columns: 1fr minmax(auto, $mqMaxContentWidth) 1fr;
  grid-template-rows: minmax( 100px, auto) 1fr auto;
grid-template-areas:
". h ."
". m ."
". f .";

  width: 100vw;
  height: 100vh;

  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: $color-primario;
}

body {
  @extend %body;
}

@mixin enlace($color: $color-primario, $color-hover: $color-contraste) {
  color: $color;

  &:hover {
    color: $color-hover;
  }
}


.enlace {
  @include enlace;
}



.logo {
  height: 50px;
}