@use "sass:color";

$font-family-sans-serif: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-primario: #000;
$color-secundario: #fff;
$color-terciario: #550dad;
$color-contraste: #e48201;
$color-fondo: #fff;


$mqMinWidth: 475px;
$mqMedWidth: 640px;
$mqMaxContentWidth: 1000px;

// Modificaciones sobre Bootstrap
$headings-color: $color-terciario;
$figure-caption-color: $color-terciario;
$border-color: $color-terciario !important;